<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
<body>
  <header>
    <h1>Maki C. Aranas</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <button class="hamburger">&#9776;</button> <!-- Hamburger button -->
    </nav>
  </header>

  <section class="projects">
    <h2>Projects</h2>
    <p>Here are some of my recent projects:</p>
    <div class="project-gallery">
        <div class="project-item">
            <img src="/project1.jpg" alt="Project 1">
            <div class="about-description">
            <h4>Project 1</h4>
            <p>Description of Project 1</p>
            <p>Technologies: HTML, CSS, JavaScript</p>
          </div>
        </div>
        <div class="project-item">
            <img src="/project2.jpg" alt="Project 2">
            <h4>Project 2</h4>
            <p>Description of Project 2</p>
            <p>Technologies: Node.js, Express.js, EJS</p>
        </div>
        <div class="project-item">
            <img src="/project3.jpg" alt="Project 3">
            <h4>Project 3</h4>
            <p>Description of Project 3</p>
            <p>Technologies: HTML, CSS, JavaScript</p>
        </div>
        <!-- Add more project items as needed -->
    </div>
  </section>

  <footer>
    <p>&copy; 2024 My Portfolio. All rights reserved.</p>
  </footer>
</body>
</html>